.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    gap: 10px;
}

.nav-list a {
    text-decoration: none;
}

main article {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
    gap: 40px;
}


article .right-half {
     height: 200px;
     width: 400px;
     background-color: slategray;
     display: flex;
    justify-content: center;
    align-items: center;
}

article > * {
    /* border: 2px solid firebrick; */
    flex-basis: 400px;
}

.right-half figure {
    color: white;
}

.random-information ul {
    display: flex;
    justify-content: center;
    /* border: 2px solid rebeccapurple; */
    flex-wrap: wrap;
    
}

.random-information ul li{
    list-style: none;
}

.random-information figure {
    width: 100px;

}

.square-frame {
    border: 2px solid #3882F6;
    height: 100px;
    width: 100px;
}

main .quote-container {
    display: flex;
    justify-content: center;
}

main .quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid lime; */
    width: 60%;
}

.quote figcaption {
    align-self:flex-end;
}

section .banner {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 60%;
    margin: 0 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 40px;
}

.banner button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 1px solid #F9FAF8;
    width: 100px;
    height: 30px;
}



