.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    gap: 10px;
}

.nav-list a {
    text-decoration: none;
}

main article {
    display: flex;
    justify-content: center;
    align-items: center;
}

main article .right-half {
     height: 200px;
     width: 400px;
     background-color: slategray;
     display: flex;
    justify-content: center;
    align-items: center;
}

.right-half figure {
    color: white;
}

